.App {
  text-align: center;
}

.fleex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}
 img{
  width: 80%;
  height: 70%;
}
.bloc1{
  width: 40%;
  float: left;
}
